Flask==0.10.1
Flask-Login==0.3.2
Flask-RBAC==0.2.0
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
Flask-WhooshAlchemy==0.56
Jinja2==2.8
passlib==1.6.5
SQLAlchemy==1.0.12
SQLAlchemy-Utils==0.31.6
WTForms==2.1
WTForms-SQLAlchemy==0.1
sqlalchemy-migrate==0.10.0
