@import './index.css';
@import './browse.css';

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding for the navbar, below the footer, and lighter body text */

html {
    height: 100vh;
}

body {
    padding-top: 50px;
    padding-bottom: 40px;
    color: #5a5a5a;
    background-color: #eee !important;
    height: 100%;
}

footer {
    background-color: #ddd;
    color: black;
    width: 100vw;
    left: 0px;
    position: fixed;
    bottom: 0px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
}

.panel {
    border-color: #fff !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.panel-primary>.panel-heading {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin-bottom: -17px !important;
    border-radius: 0px !important;
}

.select2-container--default .select2-selection--multiple {
    border: none!important;
    border-radius: 0px !important;
}

.select2-container {
    border-bottom: 2px solid #aaa !important;
}

.select2-container:focus {
    border-bottom-color: black;
}

.select2-container:active {
    border-bottom-color: black;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none !important;
    border-radius: 0px !important;
}

.select2-container--open .select2-dropdown--below {
    border: none !important;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    border: none !important;
}

textarea {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #aaa !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.btn-dark {
    background-color: #444 !important;
    color: white !important;
    border-radius: 4px !important;
}

.info-tip-new {
    background-color: rgba(0,0,0,0);
    padding: 4px !important;
    color: #aaa;
    outline: none !important;
    box-shadow: none !important;
}

.info-tip-new:focus {
    color: #101010;
}

.info-tip-new:active {
    color: #101010;
}