.browse-panel {
	border-color: #fff !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.browse-panel-heading {
	border-color: #fff !important;
	background-color: #fff !important;
}

.browse-panel-search {
	display: flex;
	flex-direction: row;
}

.browse-new-btn {
	height: 34px;
}

.pager-browse {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.status-PENDING {
	background-color: #FFF176;
}

.status-APPROVED {
	background-color: #66BB6A;
}

.status-REJECTED {
	background-color: #EF5350;
}

.pager {
	border-top: 1px solid #ddd !important; 
}

.pager-btn {
	padding: 5px 10px;
	border-radius: 4px;
}

.browse-nav > td {
	border-left: 0px !important;
	border-right: 0px !important;
}	

.browse-next {
}