{% extends "browse.html" %}
{% block panel_heading %}Search UPS Users{% endblock %}
{% block panel_body %}
    <div class="browse-panel-search">
        <!-- Search Form -->
        <div class="col-xs-12">
            <form name="search" method=POST class="form-horizontal" role="search">
                <!-- Form submission tag -->
                {{ form.hidden_tag() }}
                <div>
                    <div class="input-group">
                        <!-- Search text box -->
                        {{ form.query(maxlength=120, class_="form-control", placeholder="Search for User", autofocus=true, required=true) }}
                        <!-- Submit button -->
                        <div class="input-group-btn">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block table_body %}
    {% for row in data.items %}
        <tr>
            <td class="col-md-1"><a href="{{ url_for('user_page', user_id=row.id) }}">{{ row.id }}</a></td>
            <td class="col-md-3">{{ row.name }}</td>
            <td>{% if row.manager is not none %}
                {{ row.manager.name }}
                (<a href="{{ url_for('user_page', user_id=row.manager.id) }}">{{ row.manager.id }}</a>)
            {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
