{% extends "browse.html" %}
{% block panel_heading %}Search UPS Roles{% endblock %}
{% block panel_body %}
    <div class="browse-panel-search">
        <!-- Search Form -->
        <div class="col-xs-2">
            <a href="{{ url_for('create_role') }}" type="button" class="btn btn-dark btn-primary browse-new-btn"
               aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Role
            </a>
        </div>
        <div class="col-xs-10">
            <form name="search" method=POST class="form-horizontal" role="search">
                <!-- Form submission tag -->
                {{ form.hidden_tag() }}
                <div>
                    <div class="input-group">
                        <!-- Search text box -->
                        {{ form.query(maxlength=120, class_="form-control", placeholder="Search for Role", autofocus=true, required=true) }}
                        <!-- Submit button -->
                        <div class="input-group-btn">
                            {{ form.submit(class_="btn btn-primary btn-dark") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block table_body %}
    {% for row in data.items %}
        <tr>
            <td class="col-md-4"><a href="{{ url_for('role_page', role_id=row.id) }}">{{ row.name }}</a></td>
            <td>{{ row.desc }}</td>
        </tr>
    {% endfor %}
{% endblock %}
