{% extends "browse.html" %}
{% block panel_heading %}Search UPS Roles{% endblock %}
{% block panel_body %}
    <div class="browse-panel-search">
        <!-- Search Form -->
        <form name="search" method=POST class="form-horizontal" role="search">
            <!-- Form submission tag -->
            {{ form.hidden_tag() }}
            <div style="display: inline-block;">
                <div class="col-lg-4">
                    <div class="input-group">
                        <!-- Search text box -->
                        {{ form.query(maxlength=120, class_="form-control", placeholder="Enter Search Query", autofocus=true, required=true) }}
                        <!-- Submit button -->
                        <div class="input-group-btn">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <a href="/rolecreate/" type="button" class="btn btn-primary browse-new-btn" aria-label="Left Align">
          new role
        </a>
    </div>
{% endblock %}
{% block table_body %}
    {% for row in data.items %}
        <tr>
            <td class="col-md-4"><a href="{{ url_for('role_page', role_id=row.id) }}">{{ row.name }}</a></td>
            <td>{{ row.desc }}</td>
        </tr>
    {% endfor %}
{% endblock %}
