{% extends "base.html" %}
{% block content %}
    <div class="feed-title">
        {% block panel_heading %}{% endblock %}
    </div>
    <div class="panel panel-primary browse-panel">
        <!-- Panel Body -->
        <div class=panel-body>
            {% block panel_body %}{% endblock %}
        </div>
                <!-- Search results table -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <!-- Create table header -->
                    <thead>
                    <tr>
                        {% for header in headers %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tfoot>
                        <tr class="browse-nav">
                            
                            <td colspan="5" class="browse-next">
                                {% if data.has_prev %}
                                    <a style="float: left;" class="btn-primary pager-btn" href="{{ url_for('browse', type=type, page_num=data.prev_num) }}">
                                        Previous
                                    </a>
                                {% endif %}
                                {% if data.has_next %}
                                    <a style="float: right;" class="btn-primary pager-btn" href="{{ url_for('browse', type=type, page_num=data.next_num) }}">
                                        Next
                                    </a>
                                {% endif %}
                            </td>
                            
                        </tr>
                    </tfoot>
                    <!-- Populate the table with data -->
                    <tbody>
                        {% block table_body %}{% endblock %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}
