{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Welcome to UPS
            <span style="float:right;"><img src="../static/img/StateStreetLogo.png" height="75" width="225"></span><br>
        </h1>
        <p>A self-service tool for centralized access request
            <br>and entitlement management within SSGA systems.
        </p>
        <p><a class="btn btn-primary btn-lg"
              href="https://collaborate.statestr.com/sites/Knowledge-Management-1/support_files/Pub1/Applications/UPS/UPS_Overview.pdf"
              role="button">Learn more</a>
        </p>
    </div>
{% endblock %}