{% extends "base.html" %}
{% block content %}
    <div class="feed">
        <div class="feed-left">
            <div class="feed-title">
                My Incoming Requests
            </div>
            <div class="feed-card">
                <div class="feed-card-title">this guy requests that guy to be a guy who guys</div>
                <div class="feed-card-actions">
                    <button class="btn btn-default">reject</button>
                    <button class="btn btn-primary">accept</button>
                </div>
            </div>
            <div class="feed-card">
                <div class="feed-card-title">this guy requests that guy to be a guy who guys</div>
                <div class="feed-card-actions">
                    <button class="btn btn-default">reject</button>
                    <button class="btn btn-primary">accept</button>
                </div>
            </div>
        </div>
        <div class="feed-right">
            <div class="feed-title">
                My Outgoing Requests
            </div>
            {% for row in outgoing %}
                <div class="feed-card">
                    <div class="feed-card-title">
                        <a href="{{ url_for('role_page', role_id=row.role_id) }}">{{ row.requested_role.name }}</a>
                        <br/>
                        Requested for
                        <br/>
                        {{ row.requested_for.name }}
                        (<a href="{{ url_for('user_page', user_id=row.requested_for_id) }}">{{ row.requested_for.id }}</a>)
                    </div>
                    <div class="feed-card-actions">
                        {{ row.status }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}