{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Role
            <small>{{ role.name }}</small>
        </h1>
        <hr>
        <!-- Role Description well -->
        <h4>Description</h4>
        <div class="well well-sm">
            {{ role.desc }}
        </div>
        <!-- Role Approvers well -->
        {% if role.approvers.count() > 0 %}
            <h4>Approvers</h4>
            <div class="well well-sm">
                {% for row in role.approvers %}{{ row.name }}<br>{% endfor %}
            </div>
        {% endif %}
        <!-- Parent Roles table -->
        {% if role.parents.count() > 0 %}
            <h4>Parent Roles</h4>
            <div class="panel panel-primary">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <!-- Create table header -->
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <!-- Populate the table with data -->
                        <tbody>
                        {% for row in role.parents %}
                            <tr>
                                <td class="col-md-4">
                                    <a href="{{ url_for('role_page', role_id=row.id) }}">{{ row.name }}</a>
                                </td>
                                <td>{{ row.desc }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        <!-- Child Roles table -->
        {% if role.children.count() > 0 %}
            <h4>Child Roles</h4>
            <div class="panel panel-primary">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <!-- Create table header -->
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <!-- Populate the table with data -->
                        <tbody>
                        {% for row in role.children %}
                            <tr>
                                <td class="col-md-4">
                                    <a href="{{ url_for('role_page', role_id=row.id) }}">{{ row.name }}</a>
                                </td>
                                <td>{{ row.desc }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
